@import './Main';

.wrapper {
  overflow: hidden;
}

.button {
  z-index: 100;
  cursor: pointer;
  border-radius: 25%;
  width: $button-width;
  height: $button-width;
  font-size: x-small;
  position: fixed;
  left: calc((#{$button-width} / 2 * -1) + #{$wrapper-width});
  bottom: calc(#{$button-width} / 2);
  margin: auto;
  border: none;
  transition: left $container-transition ease-in;

  &.active {
    left: calc((#{$button-width} / 2 * -1));
    transition: left $container-transition ease-out;
  }

  @media (max-width: $mobile-width) {
    bottom: calc(#{$button-width} / 2 + 83vh);
  }
}

.button__icon {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.active {
    justify-content: flex-end;
  }
}
